name: CI/CD Build & Push Docker

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Backend build & push
        run: |
          cd backend
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ecom-backend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/ecom-backend:latest

      - name: Frontend build & push
        run: |
          cd ../frontend
          docker build -t ${{ secrets.DOCKER_USERNAME }}/ecom-frontend:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/ecom-frontend:latest
